*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: raleway_f;
    src: url(fonts/raleway-regular.woff2);
}
  
@font-face {
    font-family: raleway_f;
    src: url(fonts/raleway-black.woff2);
    font-weight: 900;
}
  
body{
    background-color: #010101;
    font-family: raleway, sans-serif;
    line-height: 1.55;
}

:root{
    --index: calc(1vw + 1vh);
}

.base{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: calc(var(--index)*1.8);
    letter-spacing: calc(var(--index)/2);
    color: rgb(225, 233, 255);
    text-shadow: 0 0 10px rgb(46, 57, 85);
}

.cond{
    max-width: calc(var(--index)*30);
    font-size: calc(var(--index)*1);
    letter-spacing: calc(var(--index)/5);
    margin-top: calc(var(--index)*1.25);
    color: rgb(37, 51, 41);
    text-shadow: 0 0 10px rgb(240, 223, 204);
    font-weight: 550;
}

.answer{
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: calc(var(--index)*10);
    min-height: calc(var(--index)*2);
    max-width: calc(var(--index)*15);
    border-radius: 10px;
    border: 4px double rgb(65, 77, 55);
    color: rgb(65, 77, 55);
    background-color: rgb(240, 223, 204);
    box-shadow: inset 2px 2px 2px 0 rgba(85, 85, 85, 0.5),  4px 4px 5px 0 rgba(0, 0, 0, 0.5);
    margin: calc(var(--index)*3);
}

.form{
    align-items: center;
    justify-content: center;
    display: grid;
}

.check{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: radial-gradient(circle,rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.39));
    font-size: calc(var(--index)*.6);
    font-weight: 900;
    letter-spacing: calc(var(--index)/5);
    min-width: calc(var(--index)*8);
    max-width: calc(var(--index)*20);
    min-height: calc(var(--index)*2);
    max-height: calc(var(--index)*10);
    margin: 0 auto 10px auto;
    border: 0;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0 rgba(85, 85, 85, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, .5), 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
    will-change: transform;
    color: rgb(46, 57, 85);
    text-shadow: 0 0 10px rgb(225, 233, 255);
}

.check:hover{
    cursor: pointer;
    scale: 1.15;
    color: rgb(225, 233, 255);
    text-shadow: 0 0 10px rgb(46, 57, 85);
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    background: radial-gradient(circle,rgba(255, 255, 255, 0.103), rgba(255, 255, 255, 0.39));
    font-size: calc(var(--index)*1);
    font-weight: 900;
    letter-spacing: calc(var(--index)/5);
    min-width: calc(var(--index)*10);
    max-width: calc(var(--index)*20);
    min-height: calc(var(--index)*3);
    max-height: calc(var(--index)*10);
    margin: 0 auto 0 auto;
    border: 0;
    border-radius: 20px;
    transition: all 0.3s ease;
    box-shadow: inset 2px 2px 2px 0 rgba(85, 85, 85, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, .5), 4px 4px 5px 0 rgba(0, 0, 0, 0.5);
    will-change: transform;
    color: rgb(46, 57, 85);
    text-shadow: 0 0 10px rgb(225, 233, 255);
}

.hide{
  display: none;
}

button:hover{
    cursor: pointer;
    scale: 1.15;
    color: rgb(225, 233, 255);
    text-shadow: 0 0 10px rgb(46, 57, 85);
}